<footer class="footer">
  <p>&copy;2021 Digital Ubiquity Capital. All Rights Reserved.</p>
  <p>The informations, specifications and data models presented in this guide are the property of Digital Ubiquity Capital Inc. and are confidential to project participants and protected under non-disclosure agreements.</p>
</footer>
